
/bin/Release
/bin/Debug
/obj/x86/Debug/MobileDictMaker.Form1.resources
/obj/x86/Debug/MobileDictMaker.Properties.Resources.resources
/obj/x86/Debug/MobileDictMaker.csproj.FileListAbsolute.txt
/obj/x86/Debug/MobileDictMaker.exe
/obj/x86/Debug/MobileDictMaker.pdb
/obj/x86/Debug/ResGen.read.1.tlog
/obj/x86/Debug/ResGen.write.1.tlog
/obj/x86/Debug/ResolveAssemblyReference.cache